<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Employees Rest API Suite" >
	
	<test thread-count="5" name="EmployeesRestApiTest">
		<classes>
			<class name="com.employeeapi.testCases.TC001_Get_All_Employees" />
			<class name="com.employeeapi.testCases.TC003_Post_Employee_Record" />
		</classes>
	</test>
	</suite>